<h1>Bienvenidos</h1>
<div class="cuadro centrado"JOSE  CERDAS Y JOSELYN GUIDO></div>

<section>
  <nav class="navbar navbar-default">
    <div class="container">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/formulario">Formulario</a>
        </li>
      </ul>
    </div>
  </nav>
      <div class="container" >
        <h1> This is index Component </h1>
        <h3> This is the content of index</h3>
      </div>
      
      
</section>